.foot {
	position: relative;

	// background-image: url(..);
	.container {
		position: relative;

		// .before {
		// 	// content: url(../img/@2x/logo.png);

		// 	// @include a-cent;
		// 	@include media-breakpoint-up(md) {

		// 		top: 40%;
		// 		left: 45%;
		// 		position: absolute;
		// 		margin-left: rem(-50);
		// 		margin-top: rem(-45);
		// 		margin-bottom: rem(20);
		// 	}

		// 	display: block;

		// 	margin-bottom: rem(20);
		// }
	}

	// background: #EDEDF5;
	// color: $body-color;
	@extend .section;

	a {
		@extend .text-body;
		// @extend .tdu;
		color: $body-color!important;
		&:hover{
			color: rgba($body-color, .8) !important;
		}
		display: inline-block;
	}

	.spiner {
		margin-left: rem(10);
		margin-right: rem(10);
	}

	&__txt--h6 {
		// @extend .h6;
		font-size: rem(20);
		// font-weight: bold;
		line-height: 1.68;
		a{
			border-bottom: 1px solid;
			line-height: 1;
			&:hover{
				border-color: transparent;
			}
		}
	}

	strong {
		display: block;
		font-size: rem(20);
		margin-bottom: rem(10);
	}

	p {
		margin-bottom: rem(20);
	}
}