mixin sDream(data)
	// start sDream
	+b.SECTION.sDream.section#sDream&attributes(attributes)
		.container
			+b.section-title
				h2 
					span Успешный трейдинг
					| – это мечта миллионов
			.row
				.col-lg-6
					p Вы&nbsp;сидите у&nbsp;себя дома в&nbsp;уютном кресле с&nbsp;ноутбуком. Пара кликов мыши&nbsp;&mdash; и&nbsp;несколько тысяч долларов у&nbsp;Вас в&nbsp;кармане. План на&nbsp;день выполнен. Можно пойти погулять или перекусить в&nbsp;ресторанчике через дорогу.

					p Вы&nbsp;никуда не&nbsp;торопитесь, у&nbsp;Вас всегда есть время и&nbsp;на&nbsp;увлекательную прибыльную торговлю, и&nbsp;на&nbsp;шикарный отдых. Вы&nbsp;давно уже не&nbsp;помните, как выглядит Ваш бывший начальник. А&nbsp;&laquo;зарплату&raquo; начисляете себе сами переводом на&nbsp;карточку с&nbsp;брокерского счёта.

					p: strong Вы&nbsp;можете позволить себе всё&nbsp;&mdash;  от&nbsp;дорогих брендовых вещей  до&nbsp;частных перелётов. А&nbsp;на&nbsp;Ваши  праздники приезжают выступать  звёзды мировой эстрады.
				.col
					+e.block 
						h3 Мечтать можно долго, но&nbsp;ведь сейчас Вам кажется, что зарабатывать на&nbsp;жизнь трейдингом&nbsp;&mdash; это удел избранных:
						p Вы&nbsp;знаете, что на&nbsp;финансовых рынках крутятся миллиарды долларов, но&nbsp;Вам кажется, что трейдинг&nbsp;&mdash; это сложно и&nbsp;не&nbsp;для Вас.

						p Вы&nbsp;пробовали обучаться трейдингу, и&nbsp;даже получили какие-то &laquo;очень умные&raquo; знания, но&nbsp;денег в&nbsp;кармане так и&nbsp;не&nbsp;прибавилось.

						p Порой Вы&nbsp;думаете: &laquo;Если&nbsp;бы я&nbsp;не&nbsp;допускал ошибок, я&nbsp;бы начал зарабатывать&raquo;, но&nbsp;Вы понятия не&nbsp;имеете, как этих ошибок избегать.

						p Иногда Вам даже кажется, что зарабатывать  на&nbsp;жизнь трейдингом&nbsp;&mdash; это удел избранных и&nbsp;вообще всё это бывает только в&nbsp;красивых фильмах.
						+pic("dream-img.png")
	// end sDream