mixin sRews(data)
	// start sRews
	+b.SECTION.sRews.section#sRews&attributes(attributes)
		.container
			+b.section-title
				h2 Что говорят ученики #[span Анны Зольд]
				p Посмотрите эти короткие видео от&nbsp;учеников Анны Зольд. В&nbsp;них эмоции и&nbsp;восторг, от&nbsp;которых мурашки по&nbsp;коже!

				p Это люди, которые начали новую изобильную и&nbsp;счастливую жизнь, пройдя обучение у&nbsp;Анны Зольд!
			.row
				mixin item(a, t)
					+e.col.col-lg-6 
						+b.video-item
							+e.video(data-video=` <iframe src="https://player.vimeo.com/video/${a}?autoplay=1&loop=1&autopause=0" loading="lazy" width="800" height="450" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>` ).bg-wrap
								+pic(`${a}.jpg`,'bg').picture-bg
								//- img(   src=`https://i.vimeocdn.com/video/${a}?mw=700&mh=375` laoding="lazy" sizes="(max-width: 640px) 100vw, 640px" , alt="")
							+e.title= t  
				+item(`571561486`,`Сергей: «Дневной доход вырос в разы!»`)
				+item(`553217283`,`Ильдар: «Ощущение, что увидел большого друга!»`)
				+item(`538592320`,`Олег Солодов: «Нервы после курса приходят в порядок!»`)
				+item(`539464025`,`Тимофей Речкунов: «Я уверен, что у всех получится. По-другому просто быть не может!»`)
				+item(`536719627`,`Надежда Зайцева: «За время занятий увеличила счёт в 2,5 раза!»`)
				+item(`532959751`,`Александр Акишин: «Я приобрёл версию Коучинг. Обучение великолепное!»`)
				+item(`446614698`,`Дмитрий: «Смело могу сказать, что это уникальный курс!»`)
				+item(`446609758`,`Алексей: «Я уверенно рекомендую это обучение своим друзьям!»`)
				+item(`446592846`,`Любовь Николаевна: «Мне 77 лет. У меня хорошие сделки, и эта работа для меня будет основной!»`)
				+item(`444305802`,`Наталья: «Почувствовала покровительство опытного успешного трейдера!»`)
				+item(`444286477`,`Надежда: «Уровень, о котором вы могли даже просто не мечтать!»`)
				+item(`444280971`,`Зинаида: «Я освоила торговлю настолько, что уже консультирую других людей!»`)
				+item(`444278392`,`Сергей: «Кто хочет научиться торговать, обращайтесь к Анне!»`)
				+item(`444269061`,`Светлана: «Все, кто к ней придёт, не пожалеют об этом!»`)
	// end sRews