mixin sFinal(data)
	// start sFinal
	+b.SECTION.sFinal.section#sFinal&attributes(attributes)
		.container
			.row
				.col-xl-7.col-lg-6
					+b.section-title
						h2 P.S. Если Вы&nbsp;всё ещё думаете,  что у&nbsp;Вас получится, наверное,  #[span с&nbsp;Вами что-то не&nbsp;так...]
						p Может быть однажды&nbsp;Вы так &laquo;прогорели&raquo;, что теперь боитесь даже самых лучших возможностей и&nbsp;выгодных предложений.

						p Или Вы&nbsp;боитесь мнения Ваших близких, которые ничего не&nbsp;смыслят в&nbsp;финансовых рынках, но&nbsp;с&nbsp;пеной у&nbsp;рта доказывают, что это какая-то авантюра. Или просто тихо посмеиваются над Вами.

						p Возможно, Вы&nbsp;просто не&nbsp;верите в&nbsp;себя.
							br
							| Как&nbsp;бы там ни&nbsp;было, выбор всегда за&nbsp;Вами. Оставить всё как есть, ходить на&nbsp;завод или в&nbsp;офис за&nbsp;ежемесячную &laquo;подачку&raquo; шефа, ковырять грядки на&nbsp;даче в&nbsp;свой единственный в&nbsp;году отпуск, ездить на&nbsp;общественном транспорте или на&nbsp;подержанной иномарке...

						p Или вступить в&nbsp;Клуб трейдеров и&nbsp;получить знания и&nbsp;опыт, которые позволят Вам создать счастливое, изобильное будущее для себя и&nbsp;своих детей. Принять решение, которым&nbsp;Вы будете гордиться всю Вашу жизнь!
				.col-xl-5.col-lg-6
					+pic("girl.png").text-center
					+e.block #[span Ну&nbsp;как?] Вы&nbsp;готовы доказать себе и&nbsp;всему миру, что&nbsp;Вы достойны гораздо более яркой, насыщенной и&nbsp;счастливой жизни?
			.text-center
				a.btn.btn-gradient(href="#sPrises") Вступить в Клуб трейдеров
	// end sFinal