mixin sRewsSlider(data)
	// start sRewsSlider
	+b.SECTION.sRewsSlider.section#sRewsSlider&attributes(attributes)
		.container
			+b.section-title
				h2 Вот что пишут нам наши клиенты  после #[span обучения у Анны:]
			+e.slider-wrap
				
				+arrow
				+e.slider--js.swiper
					.swiper-wrapper
						mixin slide(i)
							+e.slide.swiper-slide
								+e.img-wrap(href=`img/@2x/annazold_testimonial_0${i}_full.png` data-fancybox="slider") 
									+pic(`annazold_testimonial_0${i}_full.png`)
						+slide(`01`)
						+slide(`02`)
						+slide(`03`)
						+slide(`04`)
						+slide(`05`)
						+slide(`06`)
						+slide(`07`)
						+slide(`08`)
						+slide(`08`)
						+slide(`10`) 
						+slide(`11`)
						+slide(`12`)
						+slide(`13`)
						+slide(`14`)
						+slide(`15`)
						+slide(`16`)
						+slide(`17`)
						+slide(`18`)
						+slide(`19`)
						+slide(`20`)
						+slide(`21`)
						+slide(`22`)
						+slide(`23`)
						+slide(`24`)
						+slide(`25`)
						+slide(`26`)
						+slide(`27`)
						+slide(`28`)
						+slide(`29`)
						+slide(`30`)
						+slide(`31`)
						+slide(`32`)
						+slide(`33`)
						+slide(`34`)
						+slide(`35`)
						+slide(`36`)
						+slide(`37`)
						+slide(`38`)
						+slide(`39`)
						+slide(`40`) 
						+slide(`41`)
						+slide(`42`)
						+slide(`43`)
						+slide(`44`)
						+slide(`45`)
						+slide(`46`)
						+slide(`47`)
						+slide(`48`)
						+slide(`49`)
						+slide(`50`) 
						+slide(`51`)
						+slide(`52-1`)
						//- +slide(`52-2`)
						+slide(`52-3`)
						+slide(`52-4`)
						+slide(`53`)
						+slide(`54`)
						+slide(`55`)
						+slide(`56`)
						+slide(`57`)
						+slide(`58`)
						+slide(`59`)
						+slide(`60`)
						+slide(`61`)
						+slide(`62`)
			.text-center
				+e.btn(href="#header")  Вступите в Клуб, и следующий отзыв будет Вашим!
	// end sRewsSlider