mixin headerBlock()
	//- // start headerBlock
	//- +b.headerBlock#headerBlock&attributes(attributes)
	//- 	.container
	//- 		h1 Клуб трейдеров  Анны Зольд
	//- 		p Удваивайте депозит каждый  месяц, совершая одну  сделку в&nbsp;день!
	//- 		+e.price 
	//- 			+e.SPAN.lg
	//- 				strong 8 300 
	//- 				| ₽ 
	//- 			small в месяц
	//- 		+e.btn(href="#header") Вступить в Клуб
	//- 		+pic("head-img.png")
	//- // end headerBlock
	// start headerBlock
	+b.headerBlockNew#headerBlock.bg-wrap&attributes(attributes)
		+pic("head-bg2.jpg",'bg').picture-bg
		.container
			.row
				.col-xl-6
					h1 Успейте БЕСПЛАТНО занять Ваше место на&nbsp;онлайн-интенсиве &laquo;Разгон депозита с&nbsp;Анной Зольд&raquo;
					ul
						li Булет первый с&nbsp;крутейшей информацией для наглядности отображения контента в&nbsp;несколеько строк
						li Булет первый с&nbsp;крутейшей информацией для наглядности отображения контента в&nbsp;несколеько строк
						li Булет первый с&nbsp;крутейшей информацией для наглядности отображения контента в&nbsp;несколеько строк 
					+form-wrap
						+input("Введите Ваш e-mail",'email')
						+e.btn(type="submit") Получить доступ
				+e.col.col-xl-6
					p Вы&nbsp;узнаете о&nbsp;легендарной системе трейдинга, которая позволила автору выбраться из&nbsp;долгов в&nbsp;3&nbsp;миллиона рублей, а&nbsp;затем выйти на&nbsp;заработок $5000-10000&nbsp;в каждой сделке, начав всего с&nbsp;$2!
					+pic("head-img2.png",'',0)

	// end headerBlock