mixin sWantResult(data)
	// start sWantResult
	+b.SECTION.sWantResult.section#sWantResult&attributes(attributes)
		.container 
			+e.inner
				.row
					.col-md-auto
						+pic("result-img.png",'',0)
					.col
						p Уже в&nbsp;течение первого года Вашего участия в&nbsp;Клубе трейдеров&nbsp;Вы можете рассчитывать как минимум на&nbsp;1&nbsp;такую сделку каждую неделю. Если будете внимательны к&nbsp;правилам торговли и&nbsp;воспитаете в&nbsp;себе выдержку.
					.col-auto
						h5 А&nbsp;главное, чему&nbsp;Вы научитесь в&nbsp;Клубе&nbsp;&mdash; это и&nbsp;есть внимание к&nbsp;правилам торговли  и&nbsp;выдержка
				.text-center
					+e.btn(href="#sPrises") Хочу такие результаты! Иду в Клуб!
	// end sWantResult
mixin sWantResult2(data)
	// start sWantResult
	+b.SECTION.sWantResult--2.section#sWantResult&attributes(attributes)
		.container 
			+e.inner
				.row
					.col-md-auto
						+pic("result-img2.png",'',0)
					.col
						p В течение 7 дней после старта первого занятия в Клубе трейдеров действует 100% гарантия возврата средств. Вы просто получите все Ваши деньги обратно, если Вам не понравится участие в Клубе трейдеров
					.col-auto
						h5 Риска&nbsp;&mdash; ноль.  Возможностей&nbsp;&mdash;  на&nbsp;десятки тысячи  долларов!
				.text-center
					+e.btn(href="#sPrises")  Ура! Иду в Клуб!
	// end sWantResult