mixin sOcean(data)
	// start sOcean
	+b.SECTION.sOcean.section#sOcean&attributes(attributes)
		.container
			+b.section-title
				h2 Бушующий океан трейдинга полон зубастых акул, готовых  #[span сожрать Ваши деньги каждую секунду]
			.row
				.col-xl-7.col-lg-6
					p И&nbsp;вот, наконец-то, спустя долгие месяцы и&nbsp;годы плавания, когда&nbsp;Вы настолько измождены шторами, что не&nbsp;чувствуете ничего, кроме вкуса соли на&nbsp;губах, а&nbsp;Ваш корабль готов вот-вот пойти ко&nbsp;дну из-за огромной пробоины, Вы&nbsp;нашли райский остров. С&nbsp;берега Вам машут приветливые люди. Вы&nbsp;причаливаете, выходите на&nbsp;пляж и&nbsp;падаете без сил на&nbsp;песок. Улыбаетесь лучам солнца и&nbsp;чувствуете, что&nbsp;Вы дома.

					p Местные жители Вас накормят, согреют и&nbsp;переоденут. Уже на&nbsp;следующее утро&nbsp;Вы придёте в&nbsp;себя и&nbsp;начнёте новую жизнь. Полную счастливых открытий и&nbsp;невероятных инсайтов, полную радости и&nbsp;любви к&nbsp;этому миру.
				
				.col
					+e.block
						+pic("sOcean-img.png")
						h3 Клуб трейдеров Анны Зольд&nbsp;&mdash; Ваш райский остров в&nbsp;бушующем океане трейдинга!
			ol 
				li Здесь Вы&nbsp;будете в&nbsp;полной безопасности, а&nbsp;Ваши деньги будут сохранены и&nbsp;приумножены
				li Здесь каждый, независимо от&nbsp;профессии, пола или возраста, сможет зарабатывать
				li Здесь каждый будет радоваться Вашим успехам, будет готов помочь и&nbsp;поддержать
			+e.footer
				.row.g-0
					.col-lg-5
						+pic("ocean-img2.png",'',0).left-img
					.col-lg-7
						mixin item2(i,t,p)
							+e.item2 
								+e.icon-wrap
									img(src=`img/svg/ocean-i-${i}.svg` laoding="lazy", alt="")
								div
									h5.strong!= t
									p!= p
						+item2(`1`,`Вам захочется танцевать от&nbsp;счастья`,`Потому что никто ещё не&nbsp;говорил с&nbsp;Вами о&nbsp;трейдинге так просто и&nbsp;душевно. Никто ещё с&nbsp;такой любовью не&nbsp;относился к&nbsp;Вашему желанию заработать`)
						+item2(`2`,`Вам будут рукоплескать сами Боги трейдинга`,`Потому что&nbsp;Вы сделаете&nbsp;то, что сейчас кажется невозможным: Вы&nbsp;будете удваивать Ваш капитал ежемесячно, совершая всего одну сделку в&nbsp;день`)
						+item2(`3`,`Вас затопчут толпы мурашек по коже`,`Потому сотни раз&nbsp;Вы будете наблюдать, как одна Ваша сделка за&nbsp;считанные минуты приносит Вам больше денег, чем вся Ваша месячная зарплата`)
	// end sOcean