mixin sWhatPrise(data)
	// start sWhatPrise
	+b.SECTION.sWhatPrise.section#sWhatPrise&attributes(attributes)
		.container
			+b.section-title
				h2 Что такое #[span 8300 рублей в месяц?]
			.row
				+e.col.col-lg-6
					p Смешно даже обсуждать. Этой суммы хватит на&nbsp;бензин или на&nbsp;проезд в&nbsp;общественном транспорте на&nbsp;месяц. 
						br
						| А&nbsp;может и&nbsp;не&nbsp;хватит.

					p Можно на&nbsp;эти деньги 1-2 раза сходить с&nbsp;семьёй в&nbsp;ресторан. Хотя смотря какой ресторан...

					p А&nbsp;можно получить знания, опыт и&nbsp;поддержку человека, который умеет зарабатывать в&nbsp;десятки
						br
						| раз больше этой суммы всего лишь 
						br
						| в&nbsp;одной сделке на&nbsp;финансовых 
						br
						| рынках. И&nbsp;научит этому Вас.
					+pic("glass.jpg")
				.col-lg-6
					+e.block.bg-gr
						p: strong Давайте посмотрим на&nbsp;этот вопрос по-другому.

						p Каждый месяц&nbsp;Вы будете проводить с&nbsp;тренером и&nbsp;другими участниками Клуба трейдеров около 20&nbsp;часов в&nbsp;режиме онлайн.

						p 8300 рублей разделить на&nbsp;20&nbsp;часов. Получится 415 рублей за&nbsp;1&nbsp;час занятий. 
							br
							| Хм... Вы&nbsp;видели хоть одну школу, фитнесс-зал, секцию, кружок, да&nbsp;что угодно, где за&nbsp;час занятий с&nbsp;Вас возьмут 415&nbsp;рублей? Правильно, и&nbsp;мы&nbsp;не&nbsp;видели.

						p #[strong 415 рублей]&nbsp;&mdash; это попить кофе с&nbsp;пончиком. Или получить знания и&nbsp;опыт, которые позволят Вам заработать в&nbsp;сотни и&nbsp;тысячи раз больше этой суммы. Что выбираете&nbsp;Вы?
						//- +e.price
						//- 	span 8 300 
						//- 	| ₽ 
						+e.btn(href="#sPrises") Что тут думать? Иду в Клуб трейдеров!
	// end sWhatPrise