mixin sch-item( count,p, t)
	+b.schedule-item
		+e.head
			.row
				if count
					.col-auto.text-primary= count
				.col= t
		.h5.strong!= p
mixin sSchedule(data)
	// start sSchedule
	+b.SECTION.sSchedule.section#sSchedule&attributes(attributes)
		.container
			+b.section-title
				h2 Как будет проходить Ваше обучение и&nbsp;сопровождение #[span в&nbsp;Клубе трейдеров Анны Зольд]
			h4.strong.mb-4 Подготовительный курс для абсолютных новичков:
			+e.first-row.row
				+e.col.col-lg-4.col-md-6
					+sch-item(``,`Открытие демо-счёта,  установка и настройка терминала`,'1 урок')
				+e.col.col-lg-4.col-md-6
					+sch-item(``,`Работа  <br>в&nbsp;терминале`,'2 урок')
				+e.col.col-lg-4.col-md-6
					+sch-item(``,`Что такое <br> &laquo;свеча&raquo;`,'3 урок')
				+e.col.col-lg-4.col-md-6
					+sch-item(``,`Уровни поддержки и&nbsp;сопротивления`,'4 урок')
				+e.col.col-lg-4.col-md-6
					+sch-item(``,`Целевые и&nbsp;локальные <br>  уровни`,'5 урок')
				+e.col.col-lg-4.col-md-6
					+sch-item(``,`Трендовые линии <br>  и&nbsp;пинбары`,'6 урок')
			.row.aling-items-center.mb-5
				.col-lg-4.mb-3
					.row
						.col-auto
							img(src="img/svg/caledar-i.svg", laoding="lazy" alt="")
						.col
							h4.strong 2&nbsp;недели интенсива  с&nbsp;живым участием
				.col-lg-8.mb-3
					.h5 Трижды в&nbsp;неделю&nbsp;Вы участвуете в&nbsp;занятиях в&nbsp;формате конференций в&nbsp;Zoom, можете общаться с&nbsp;тренером голосом и&nbsp;задавать вопросы.
			+e.second-row
				+sch-item(`1 урок`,`Уровни поддержки и&nbsp;сопротивления, трендовые линии, пробой уровней, как отличить настоящий пробой от&nbsp;ложного, что такое закрепление цены. Почему надо учитывать направление старших таймфреймов. Что такое сигналы на&nbsp;рынке форекс`,`20 сентября, ПН, 19:00 МСК`)
				+sch-item(`2 урок`,`Объединяем уровни поддержки-сопротивления с&nbsp;трендовыми линиями. Ценовые каналы в&nbsp;трендовом движении. Особенности поведения цены в&nbsp;канале.`,`22 сентября, СР, 19:00 МСК`)
				+sch-item(`3 урок`,`Графические разворотные модели. Распознавание фигур, условия поиска. Фигура &laquo;голова-плечи&raquo;. Двойная вершина, тройная вершина, П-образная вершина. Связь графических моделей с&nbsp;уровнями поддержки-сопротивления. Фигуры продолжения тренда&nbsp;&mdash; треугольники, вымпелы, флаги. Зеркальные фигуры.`,`24 сентября, ПТ, 19:00 МСК`)
				+sch-item(`4 урок`,`Знакомство с&nbsp;предсказывающими, опережающими индикаторами. Что такое дивергенция. Разворот или откат цены. Конвергенция или скрытая дивергенция как сигнал продолжения тренда.`,`27 сентября, ПН, 19:00 МСК`)
				+sch-item(`5 урок`,`О&nbsp;чем могут рассказать свечи. Разворотные свечные паттерны: &laquo;молот&raquo; и&nbsp;&laquo;повешенный&raquo;, &laquo;модель поглощения&raquo;, &laquo;завеса из&nbsp;темных облаков&raquo;, &laquo;просвет в&nbsp;облаках&raquo;, &laquo;звезды вечерние и&nbsp;утренние&raquo;, &laquo;падающая звезда&raquo;, &laquo;перевернутый молот&raquo;, модель &laquo;харами-беременная&raquo;, &laquo;вершины и&nbsp;основания&raquo;, &laquo;пинцет&raquo;`,`29 сентября, СР, 19:00 МСК`)
				+sch-item(`6 урок`,`Объединяем полученные знания. Правила поведения трейдера. Мани-менеджмент или управление рисками. Журнал трейдера. Технология удвоения депозита каждый месяц`,`1 октября, ПТ, 19:00 МСК`)

			.row.aling-items-center.mb-5
				.col-lg-4.mb-3
					.row
						.col-auto
							img(src="img/svg/target.svg", laoding="lazy" alt="")
						.col
							h4.strong Домашние задания  с&nbsp;разбором
				.col-lg-8.mb-3
					.h5 После каждого занятия интенсива&nbsp;Вы выполняете домашние задания. Тренер разбирает их&nbsp;и&nbsp;даёт Вам обратную связь в&nbsp;специальном разделе в&nbsp;группе участников.
	// end sSchedule