.menu{
		@include media-breakpoint-up(lg) {

			display: flex;
			list-style: none;
			max-width: 100%;
			flex-wrap: wrap;
			@include roww(26px);
			text-align: center;
		}
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: 36px;
	}
	position: relative;
	margin-bottom: 0;
	li{
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
		font-size: 14px;
		font-weight: 500;
		&:not(:hover){
			color: $body-color;
		}
	}
}