mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			+b.section-title
				h2 
					span Анна Зольд – 
					| успешный трейдер 
					| и&nbsp;талантливый преподаватель
			+e.block
				ul
					li #[strong 14&nbsp;лет]  Анна прибыльно торгует на&nbsp;рынке форекс.
					li #[strong Сертифицированный партнёр]  брокерской компании ИнстаФорекс.
					li #[strong 5&nbsp;лет обучает обычных людей ] профессии трейдера.
					li #[strong Уже более 800 человек] прошли групповое обучение у&nbsp;Анны. Это самые разные категории людей&nbsp;&mdash; офисные работники, домохозяйки, фрилансеры, простые рабочие, пенсионеры.
					li  #[strong 127 человек прошли] у&nbsp;Анны индивидуальное обучение и&nbsp;сопровождение. Среди них&nbsp;&mdash; крупные бизнесмены и&nbsp;чиновники.
					li На&nbsp;основе собственного многолетнего опыта Анна  #[strong создала сверхэффективную систему] обучения трейдингу. Эта система идеально подходит для абсолютных новичков, а&nbsp;также для тех, у&nbsp;кого уже много лет не&nbsp;получается заработать на&nbsp;финансовых рынках.
					li  #[strong 80% времени и&nbsp;внимания в&nbsp;торговле и&nbsp;в&nbsp;обучении трейдингу] Анна уделяет вопросам психологии. Поэтому с&nbsp;успехом решает главную проблему, которая мешает зарабатывать абсолютному большинству трейдеров&nbsp;&mdash; эмоции в&nbsp;торговле.
				+pic("author-img.png")
	// end sAuthor