mixin sMainFeatures(data)
	// start sMainFeatures
	+b.SECTION.sMainFeatures.section#sMainFeatures&attributes(attributes)
		.container
			+b.section-title
				h2 
					| В&nbsp;чём главные особенности 
					span Клуба трейдеров
			.row
				mixin item(i,t,p)
					+e.col.col-xl-4.col-md-6
						+e.icon-wrap.mb-5
							img(src=`img/svg/sMainFeatures-${i}.svg` laoding="lazy", alt="")
						div
							h5.strong!= t
							p!= p
				+item(`1`,`Удвоение депозита  каждый&nbsp;месяц`,`Вы&nbsp;получите технологию, которая позволит Вам удваивать Ваш капитал каждый месяц, совершая всего одну сделку в&nbsp;день. Это значит, что уже через несколько месяцев&nbsp;Вы сможете выйти на&nbsp;доход, в&nbsp;разы превышающий Вашу нынешнюю зарплату при минимальных затратах времени. Благодаря этому&nbsp;Вы наконец-то осуществите Ваши самые смелые мечты и&nbsp;желания: новый дом, автомобиль, качественный отдых`)
				+item(`2`,`Только живые  занятия`,`На&nbsp;каждом занятии и&nbsp;каждой встрече Клуба трейдеров&nbsp;Вы сможете общаться с&nbsp;автором и&nbsp;другими участниками голосом, включать камеру (при желании) и&nbsp;демонстрировать рабочий стол Вашего компьютера. Вы&nbsp;будете максимально вовлечены в&nbsp;процесс, получите мотивацию и&nbsp;энергию для продвижения к&nbsp;цели. Благодаря этому&nbsp;Вы обязательно придёте к&nbsp;желаемому результату&nbsp;&mdash; высокой и&nbsp;стабильной прибыли на&nbsp;финансовых рынках.`)
				+item(`3`,`Работа на любом  финансовом&nbsp;рынке`,`Вы&nbsp;получите систему торговли, которую сможете применять на&nbsp;любом интересующем Вас финансовом рынке: форекс, акции, фьючерсы, криптовалюты. Вы&nbsp;получите универсальные знания, навыки и&nbsp;инструменты, которые будут работать всегда и&nbsp;везде, лишь&nbsp;бы был график. Благодаря этому&nbsp;Вы сможете стабильно зарабатывать независимо от&nbsp;того, на&nbsp;каком рынке работаете.`)
				+item(`4`,`Подходит  для&nbsp;новичков`,`Вы&nbsp;получите технологию, которая позволит Вам удваивать Ваш капитал каждый месяц, совершая всего одну сделку в&nbsp;день. Это значит, что уже через несколько месяцев&nbsp;Вы сможете выйти на&nbsp;доход, в&nbsp;разы превышающий Вашу нынешнюю зарплату при минимальных затратах времени. Благодаря этому&nbsp;Вы наконец-то осуществите Ваши самые смелые мечты и&nbsp;желания: новый дом, автомобиль, качественный отдых`)
				+item(`5`,`Подходит  для&nbsp;занятых`,`На&nbsp;каждом занятии и&nbsp;каждой встрече Клуба трейдеров&nbsp;Вы сможете общаться с&nbsp;автором и&nbsp;другими участниками голосом, включать камеру (при желании) и&nbsp;демонстрировать рабочий стол Вашего компьютера. Вы&nbsp;будете максимально вовлечены в&nbsp;процесс, получите мотивацию и&nbsp;энергию для продвижения к&nbsp;цели. Благодаря этому&nbsp;Вы обязательно придёте к&nbsp;желаемому результату&nbsp;&mdash; высокой и&nbsp;стабильной прибыли на&nbsp;финансовых рынках.`)
				+item(`6`,`Работа  до&nbsp;результата`,`Вы&nbsp;получите систему торговли, которую сможете применять на&nbsp;любом интересующем Вас финансовом рынке: форекс, акции, фьючерсы, криптовалюты. Вы&nbsp;получите универсальные знания, навыки и&nbsp;инструменты, которые будут работать всегда и&nbsp;везде, лишь&nbsp;бы был график. Благодаря этому&nbsp;Вы сможете стабильно зарабатывать независимо от&nbsp;того, на&nbsp;каком рынке работаете.`) 
			.text-center
				+e.btn(href="#sPrises") Хочу в Клуб трейдеров
	// end sMainFeatures