// start .sBonuses
.sBonuses {
		// --sPT: ;
		// --sPB: ;
		--sTPB: 90px;
		.row{
			--bs-gutter-y: 60px;
		}
	&__item{
		min-height: 100%;
		padding: 56px rem(32) rem(32);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	&__label{
		width: 114px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -84px;
		background: #FA6A6A;
		box-shadow: 0px 15px 42px rgba(155, 74, 217, 0.4);
		border-radius: 8px;
		color: #fff;
		font-size: rem(20);
		font-weight: bold;
		padding: rem(13);
		margin-bottom: 28px;
	}
	&__footer{
		margin-top: auto;
	}
	&__title{
		margin-bottom: rem(30);
	}
	&__price{
		font-size: rem(25);
		span{
			font-size: 33px;
		}
	}
	&__label-foot{
		background: #FFFFFF;
		border-radius: 10px;
		color: #5C49DF;
		font-size: rem(20);
		font-weight: bold;
		padding: 8px;
		margin-top: 26px;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBonuses