mixin sMeetings(data)
	// start sMeetings
	+b.SECTION.sMeetings.section#sMeetings&attributes(attributes)
		.container
			+b.section-title
				h2 
					span Встречи Клуба трейдеров 
					| 2&nbsp;раза в&nbsp;неделю на&nbsp;протяжении 1&nbsp;года
				
			.row
				.col-lg-6
					+pic("meating-img.png").mb-3
					h5.text-primary.strong Встречи проходят по&nbsp;понедельникам (20:00-22:00&nbsp;МСК) и&nbsp;четвергам (12:00-14:00&nbsp;МСК) в&nbsp;формате онлайн-конференций в&nbsp;Zoom
				.col-lg-6
					p Сразу после 2-х недельного интенсива начнётся самая интересная, полезная и&nbsp;результативная часть Вашего пути&nbsp;&mdash; сопровождение в&nbsp;Клубе трейдеров!

					p На&nbsp;протяжении всего занятия&nbsp;Вы можете общаться с&nbsp;тренером и&nbsp;другими участниками голосом, включать камеру (при желании), демонстрировать Ваш торговый терминал, разбирать Ваши сделки и&nbsp;обсуждать любые вопросы в&nbsp;неформальной обстановке.

					p Вы&nbsp;заранее знаете, когда проходят встречи, и&nbsp;у&nbsp;Вас есть ссылка для подключения. Вы&nbsp;можете подключиться к&nbsp;такой встрече в&nbsp;любой момент и&nbsp;разобрать интересующие Вас вопросы. Не&nbsp;обязательно приходить к&nbsp;началу и&nbsp;оставаться до&nbsp;конца. Не&nbsp;обязательно приходить на&nbsp;обе встречи каждую неделю. Подключайтесь, когда удобно, получайте обратную связь от&nbsp;автора и&nbsp;общайтесь с&nbsp;другими участниками, которые вместе с&nbsp;Вами в&nbsp;этот момент тоже подключились к&nbsp;встрече
			+e.comment 
				.row
					.col
						p &laquo;Я&nbsp;искренне считаю, что обычные онлайн-тренинги безнадёжно устаревают. Когда автор вещает в&nbsp;одностороннем порядке, а&nbsp;слушатели могут лишь написать свой вопрос в&nbsp;чате&nbsp;&mdash; это малоэффективно и&nbsp;должно уйти в&nbsp;прошлое.

						p Чтобы достичь максимальных результатов у&nbsp;каждого участника, необходимо живое общение. Мы&nbsp;должны видеть и&nbsp;слышать друг друга в&nbsp;режиме онлайн. Тренер должен видеть торговый терминал ученика, чтобы направить его и&nbsp;помочь ему в&nbsp;моменте &bdquo;здесь и&nbsp;сейчас&ldquo;, а&nbsp;не&nbsp;в&nbsp;формате сухой обратной связи текстом.

						p Мы&nbsp;сделали&nbsp;то, чего боялись или не&nbsp;хотели делать другие. И&nbsp;теперь этот новый формат живого общения&nbsp;&mdash; обязательный элемент и&nbsp;одно из&nbsp;главных преимуществ Клуба трейдеров Анны Зольд&raquo;.
						h5.strong Артём Дудкевич
						p.small Организатор и куратор Клуба
					.col-lg-auto.align-self-end
						+pic("man.png")
			.text-center
				+e.btn(href="#sPrises") Мне всё нравится! Иду в Клуб!
	// end sMeetings