mixin sStudentsCases(data)
	// start sStudentsCases
	+b.SECTION.sStudentsCases.section#sStudentsCases&attributes(attributes)
		.container
			+b.section-title
				h2 #[span Смотрите,] какие сделки совершают ученики Анны уже в первые дни практики:
			+e.slider-wrap
				
				+arrow
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(i)
							+e.slide.swiper-slide
								+e.img-wrap(href=`img/@2x/annazold_clientresult_${i}_full.png` data-fancybox="slider") 
									+pic(`annazold_clientresult_${i}_full.png`)
						+slide(`001-1`)
						+slide(`001-2`)
						+slide(`002-1`)
						+slide(`002-2`)
						+slide(`003-1`)
						+slide(`003-2`)
						+slide(`004-1`)
						+slide(`004-2`)
						+slide(`005-1`)
						+slide(`005-2`)
						+slide(`006-1`)
						+slide(`006-2`)
						+slide(`007-1`)
						+slide(`007-2`)
						+slide(`008-1`)
						+slide(`008-2`)
						+slide(`009-1`)
						+slide(`009-2`)
						//- +slide(`010-1`)
						+slide(`010-2`)
						+slide(`010-3`)
						+slide(`010-4`)
						+slide(`010-5`)
						+slide(`010-6`)
						+slide(`011-1`)
						+slide(`011-2`)
						+slide(`012-1`)
						+slide(`012-2`)
						+slide(`013-1`)
						+slide(`013-2`)
						+slide(`014-1`)
						+slide(`014-2`)
						+slide(`015-1`)
						+slide(`015-2`)
						+slide(`016-1`)
						+slide(`016-2`)
						+slide(`017-1`)
						+slide(`017-2`)
						+slide(`018-1`)
						+slide(`018-2`)
						+slide(`019-1`)
						+slide(`019-2`)
						+slide(`020-1`)
						+slide(`020-2`)
						+slide(`021-1`)
						//- +slide(`021-2`)
						+slide(`022-1`)
						+slide(`022-2`)
						+slide(`023-1`)
						+slide(`023-2`)
						+slide(`024-1`)
						+slide(`024-2`)
						+slide(`025-1`)
						+slide(`025-2`)
						+slide(`026-1`)
						+slide(`026-2`)
						+slide(`027-1`)
						+slide(`027-2`)
						+slide(`029-1`)
						+slide(`029-2`)
						+slide(`030-1`)
						+slide(`030-2`)
						+slide(`031-1`)
						+slide(`031-2`)
						+slide(`032-1`)
						+slide(`032-2`)
						+slide(`033-1`)
						+slide(`033-2`)
						+slide(`034-1`)
						+slide(`034-2`)
						+slide(`035-1`) 
						+slide(`034-1`) 
						+slide(`036-1`)
						+slide(`037-2`)
						+slide(`038-1`) 
						+slide(`039-1`)
						//- +slide(`039-2`)
						+slide(`040-1`)
						+slide(`040-2`)
						+slide(`041-1`)
						+slide(`041-2`)
						+slide(`042-1`)
						+slide(`042-2`)
						+slide(`043-1`)
						+slide(`043-2`)
						+slide(`044-1`)
						+slide(`045-1`)
						+slide(`046-1`)
						+slide(`047-1`)
						+slide(`047-2`)
						+slide(`048-1`)
						+slide(`048-2`)
						+slide(`049-1`)
						+slide(`049-2`)
						+slide(`050-1`)
						+slide(`050-2`)
						+slide(`051-1`)
						+slide(`051-2`)
						+slide(`052-1`)
						+slide(`052-2`)
						+slide(`053-1`)
						+slide(`053-2`)
						+slide(`054-1`)
						//- +slide(`054-2`)
						+slide(`055-1`)
						+slide(`055-2`)
						+slide(`056-1`)
						+slide(`056-2`)
						+slide(`057-1`)
						+slide(`057-2`)
						+slide(`058-1`)
						+slide(`058-2`)
						+slide(`059-1`)
						//- +slide(`059-2`)
						+slide(`060-1`)
						+slide(`061-1`)
						+slide(`061-2`)
						+slide(`062-1`)
						+slide(`062-2`)
						+slide(`063-1`)
						+slide(`063-2`)
						+slide(`064-1`)
						+slide(`065-2`)
						+slide(`067-1`)
						+slide(`067-2`) 
						+slide(`068-1`)
						+slide(`068-2`)
						+slide(`069-1`)
						+slide(`070-1`)
						+slide(`070-2`)
						+slide(`071-1`)
						+slide(`71-2`)
						+slide(`072-1`)
						+slide(`072-2`)
						+slide(`073-1`)
						+slide(`073-2`)
						+slide(`074-1`)
						+slide(`074-2`)
						+slide(`075-1`)
						+slide(`075-2`)
						+slide(`076-1`)
						+slide(`076-2`)
						+slide(`077-1`)
						+slide(`077-2`)
						+slide(`078-1`)
						//- +slide(`078-2`)
						+slide(`079-1`)
						+slide(`080-1`)
						+slide(`080-2`)
						+slide(`081-1`)
						+slide(`082-1`)
						+slide(`082-2`)
						+slide(`083-1`)
						+slide(`083-2`)
						+slide(`084-1`)
						+slide(`084-2`)
						+slide(`085-1`)
						+slide(`085-2`)
						+slide(`086-1`)
						+slide(`086-2`)
						+slide(`087-1`)
						+slide(`087-2`)
						+slide(`088-1`)
						//- +slide(`088-2`)
						+slide(`089-1`)
						+slide(`089-2`)
						+slide(`090-1`)
						+slide(`090-2`)
						+slide(`091-1`)
						+slide(`091-2`)
						+slide(`092-1`)
						+slide(`092-2`)
						+slide(`093-1`)
						+slide(`093-2`)
						+slide(`094-1`)
						+slide(`095-1`)
						+slide(`095-2`)
						+slide(`096-1`)
						+slide(`096-2`)
						+slide(`097-1`)
						+slide(`097-2`)
						+slide(`098-1`)
						+slide(`098-2`)
						+slide(`099-1`)
						+slide(`099-2`)
						+slide(`100-1`)
						+slide(`100-2`)
						+slide(`101-1`)
						+slide(`101-2`)
						+slide(`102-1`)
						+slide(`102-2`)
						+slide(`103-1`)
						+slide(`103-2`)
						+slide(`104-1`)
						+slide(`104-2`)
						+slide(`105-1`)
						//- +slide(`105-2`)
						+slide(`106-1`)
						+slide(`106-2`)
						+slide(`107-1`)
						+slide(`107-2`)
						+slide(`108-1`)
						+slide(`108-2`)
						+slide(`108-3`)
						+slide(`109-1`)
						+slide(`109-2`)
						+slide(`110-1`)
						+slide(`110-2`)
						+slide(`111-1`) 
						+slide(`113-1`)
						+slide(`113-2`)
						+slide(`114-1`)
						+slide(`114-2`)
						+slide(`115-1`)
						+slide(`115-2`)
						+slide(`116-1`)
						+slide(`116-2`)
						+slide(`117-1`)
						+slide(`117-2`)
						+slide(`118-1`)
						+slide(`118-2`)
						+slide(`119-1`)
						+slide(`119-2`)
						+slide(`120-1`)
						+slide(`120-2`)
						+slide(`121-1`)
						+slide(`121-2`)
						+slide(`123-1`)
						+slide(`123-2`)
						+slide(`124-1`)
						+slide(`124-2`)
						+slide(`125-1`)
						//- +slide(`125-2`)
						+slide(`126-1`)
						+slide(`126-2`)
						+slide(`127-1`)
						+slide(`127-2`)
						+slide(`128-1`) 
						+slide(`129-1`)
						+slide(`129-2`)
						+slide(`130-1`) 
						+slide(`131-1`)
						+slide(`131-2`)
						+slide(`132-1`)
						+slide(`132-2`)
						+slide(`133-1`)
						+slide(`133-2`)
						+slide(`134-1`)
						//- +slide(`134-2`)
						+slide(`135-1`)
						+slide(`135-2`)
						+slide(`136-1`)
						+slide(`136-2`)
						//- +slide(`137-1`)
						//- +slide(`137-2`)
						+slide(`138-1`)
						+slide(`138-2`)
						+slide(`139-1`)
						+slide(`139-2`)
						+slide(`140-1`) 
						+slide(`141-1`)
						+slide(`141-2`)
						+slide(`142-1`)
						+slide(`143-1`)
						+slide(`144-1`)
						+slide(`145-1`)
						//- +slide(`146-1`)
						+slide(`145-2`)

	// end sStudentsCases