mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Остались вопросы?
			+e.items.sQuestions-dd-js
				+faqItem('Каких брокеров Вы рекомендуете?')
					p Для торговли на рынке FOREX:
					p Instaforex – рекомендация автора. Анна Зольд является сертифицированным партнёром Instaforex и много лет сама работает с личными крупными счетами у этого брокера.
					p Alpari Limited – рекомендация куратора проекта, который много лет работает с личными счетами у этого брокера.
					p Для торговли на бирже CME: AMP Global
					p Для торговли акциями американских компаний: InteractiveBrokers, Финам
					p Для торговли акциями российских компаний: БКС, Открытие, Финам
					p Важно понимать: Мы не берём на себя ответственность за Ваш выбор брокера и за те средства, которые Вы вводите на торговые счета. По желанию Вы можете выбрать любого другого брокера, с которым Вы давно работаете и которому доверяете.

				+faqItem('На каких рынках работает система автора?')
					p В результате Вашего участия в Клубе трейдеров Анны Зольд Вы станете полностью самостоятельным трейдером. Научитесь читать любые графики, управлять любым капиталом, заключать правильные сделки и самое главное – справляться с эмоциями в торговле. Все эти навыки профессионального трейдера Вы сможете применять на любом интересующем Вас рынке.
				+faqItem('Сколько времени нужно будет уделять торговле?')
					| 3-4 часа в день – это максимум. В Клубе трейдеров Вы узнаете, как можно сократить это время до нескольких минут в день, если Вы слишком заняты. Качество и прибыльность торговли не зависят от количества совершённых сделок. На тренинге Вы научитесь заключать всего 1 сделку в день и при этом удваивать депозит каждый месяц.
				+faqItem('На чём основан подход автора (торговая система)?')
					p На психологии. На правильной работе с эмоциями, которые возникают в процессе торговли. Если Вы научитесь этому – это и станет залогом Вашего успеха и заработка. Если Вы уже это понимаете и теперь Вас интересует чисто техническая сторона, то в основе торговой системы – уровни поддержки-сопротивления и трендовые линии. Вы научитесь строить их вручную на чистом графике. Также в системе применяются так называемые «опережающие» или «предсказывающие» индикаторы, которые позволяют прогнозировать дальнейшее движение цены: RSI, Стохастик, MACD, CCI.

	// end sQuestions

mixin faqItem(headTxt, addClasses='')
	+e.item(class=addClasses)
		+e.head.dd-head-js
			+e.head-txt=headTxt
			+e.head-icon
		+e.content(class=addClasses).dd-content-js
			block
