mixin sSecret(data)
	// start sSecret
	+b.SECTION.sSecret.section#sSecret&attributes(attributes)
		.container
			+b.section-title
				h2 
					span Секретный секрет:  
					| если ничего не менять, ничего не изменится
				
			.row
				.col-lg-6
					+e.block 
						p Вы&nbsp;и&nbsp;дальше будете вставать по&nbsp;будильнику, шагать на&nbsp;предприятие или в&nbsp;офис, терпеть сумасшедшего начальника и&nbsp;странноватых коллег, отдыхать раз в&nbsp;год на&nbsp;даче, одеваться в&nbsp;масс-маркете и&nbsp;ездить на&nbsp;подержанной иномарке.
						h4 Что это может быть? Место? Обстоятельства? Знания? Инструменты?
						p #[strong Нужен какой-то &laquo;щелчок&raquo;], откровение, которое развеет туман в&nbsp;голове и&nbsp;позволит Вам увидеть простой и&nbsp;ясный путь к&nbsp;большим деньгам на&nbsp;финансовых рынках. Придаст Вам сил и&nbsp;решимости. Вдохновит Вас, даст мотивацию и&nbsp;непоколебимую уверенность в&nbsp;результате.
						+pic("secret-img.png").d-none.d-lg-block
				+e.col.col-lg-6
					p Всё это важно и&nbsp;необходимо. Но&nbsp;на&nbsp;первом месте должен быть человек.

					p #[strong Вам нужен человек,] который вдохновит Вас своим примером. Поразит гениальной простотой своего подхода и&nbsp;стройным ходом мыслей. А&nbsp;после доведёт Вас за&nbsp;руку до&nbsp;результата.

					p #[strong Мы&nbsp;нашли для Вас такого человека!]
	// end sSecret