mixin allcss()
	
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
 
	//- link(href="libs/swiper/css/swiper.min.css", rel="stylesheet") 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
	link(href="libs/swiper/swiper.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	<link rel="stylesheet" href="//infoclub.info/tools/api_subscriber/timer.css"/>
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	//- script(src="js/libs.js")

	//- script(src="libs/loading-attribute-polyfill/loading-attribute-polyfill.min.js")

	// modal libs
	script(src="js/jquery-2.2.4.min.js")
	<script   src="//infoclub.info/tools/api_subscriber/timer_universal.js?3"></script>
	link(href='//info-dvd.ru/tools/lead_box/lead_box.css', rel='stylesheet', media='all')
	script(src='//info-dvd.ru/tools/lead_box/lead_box.js?2')
	<script src="//infoclub.info/tools/api_subscriber/timer_universal.js?3"></script>
	script(src="libs/@fancyapps/ui/fancybox.umd.js")
	// modal libs
	// slider libs
	script(src="libs/swiper/swiper-bundle.min.js") 
	// /slider libs

	//- script(src="libs/inputmask/inputmask.min.js")
	//- script(src="js/libs.js")
	script(src="js/common.js")
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js")

	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs
	//- / mask for  input  libs
		script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-8230040-4', 'auto');
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
	// Yandex.Metrika counter // updated 21.11.2020
	script(type='text/javascript').
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(12876187, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true });
	noscript
	div
		img(src='https://mc.yandex.ru/watch/12876187' alt='' style='position:absolute; left:-9999px;')
	// /Yandex.Metrika counter
	// NK // new
	script(type='text/javascript').
		(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=yzYvs8jXs5SsJdQf2Djtq2CSqjaGsnEwkg*VUhPLSWqjeBq9d8sUgDRpHw2A6ZESOG5yEcASq2hx2jN//qllf7fHPbSPa8fI6wXC9aHmQ5kuypMLQcajcz9Jgy7TsnnQMxu/Foc*67FC/3GCkIejBWq/WBXbp5QfB8r41VUQiLs-';
	// EZ // new
	script(type='text/javascript').
		(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=SWLDaSrAvB9yGjGikfBGZ682uyHDAbKQLEpcmIxKAir68/t90yFfqx4Thu/1Go*glwhzIIotbcNNS3qPI6vELu1oRfoWDAONGUE/*lOoSslsm2/f/lKmW5dwg7dh6u*I/Rkcdl0kqlHeo8wLLp3IYYkFW1b6zuA/iEeft3RXSmM-';
	// nzh // vk 2016 - new pixel
	script(type='text/javascript').
		(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=g23xyocMG1JUZzK8iqEK934E7DJuaBDg*w8CZYc9JH4X1FXSIaRnnyyP6QmAXFEbVhh9JucnoYWqh19NtojX7dJtjCQrbe7J2vgORbJOm3L2S6G9VC3IXoFxelaAFNfpScW*4fBnJkOBWiOaXZcB79bUbhgkeDjdnIVdP3/zSEs-';
	// BA (914)
	// Facebook Pixel Code
	script.
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '363478241622885');
		fbq('track', 'PageView');
	noscript
		img(src='https://www.facebook.com/tr?id=363478241622885&ev=PageView&noscript=1' height='1' width='1' style='display:none')
	// End Facebook Pixel Code
