//- WP menu
mixin mnu()
	-
		var nav= { 
			"В начало":"#header",
			"Об авторе":"#sAuthor",
			"О Клубе":"#sMainFeatures",
			"Программа":"#sSchedule" ,
			"Бонусы":"#sBonuses",
			"Стоимость":"#sPrises",
			"Результаты":"#sStudentsCases",
			"Отзывы":"#sRews",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu